run = "npm run dev"

modules = ["nodejs-20", "web"]
[nix]
channel = "stable-25_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 5000
externalPort = 5000
exposeLocalhost = true

[workflows]
runButton = "Run App"

[[workflows.workflow]]
name = "Run App"
author = 45962148
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
